<template>
  <section class="section-content">

  </section>
</template>

<script>
export default {
  name: "TheBody"
}
</script>

<style lang="scss">

.section-content{
  min-height: calc(80vh - 59px);
}

</style>