<template>
    <footer class="footer pt-5 pb-4 text-white">
        <b-container>
            <b-row>
            
                <b-col class="d-flex align-items-center flex-wrap">
                    <div
                        class="d-inline-block pl-3"
                        v-for="social in socialMedias"
                        :key="social.name"
                    >   
                        <figure class="d-flex align-items-center">
                            <img class="social-icon" :src="`${social.icon}`" alt="" srcset=""/>
                            <figcaption class="ml-2"> <a class="text-reset" :href="`${social.url}`" target="_blank">{{ social.userId }}</a></figcaption>
                        </figure>
                    </div>
                </b-col>
                

                <b-col class="d-flex align-items-center flex-wrap">
                    <div
                        class="d-inline-block pl-2 pr-2"
                        v-for="reference in references"
                        :key="reference.name"
                    >   
                        <a class="text-reset" :href="`${reference.url}`"  target="_blank">{{ reference.name }}</a>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </footer>
</template>

<script>
export default {
    name: "TheFooter",
    data(){
        return {
            social: {},
            socialMedias: [
                {
                    name: "Facebook",
                    userId: "wildertrujillom",
                    icon: "https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico",
                    url: "https://www.facebook.com/wildertrujillom"
                },
                {
                    name: "Linkedin",
                    userId: "wilder-trujillo",
                    icon: "https://static-exp1.licdn.com/sc/h/1bt1uwq5akv756knzdj4l6cdc",
                    url: "https://www.linkedin.com/in/wilder-trujillo"
                },
                {
                    name: "Github",
                    userId: "wilder00",
                    icon: "https://github.githubassets.com/favicons/favicon.svg",
                    url: "https://github.com/wilder00"
                },

                {
                    name: "Facebook",
                    userId: "wildertrujillom",
                    icon: "https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico",
                    url: "https://www.facebook.com/wildertrujillom"
                },
                {
                    name: "Linkedin",
                    userId: "wilder-trujillo",
                    icon: "https://static-exp1.licdn.com/sc/h/1bt1uwq5akv756knzdj4l6cdc",
                    url: "https://www.linkedin.com/in/wilder-trujillo"
                },{
                    name: "Facebook",
                    userId: "wildertrujillom",
                    icon: "https://static.xx.fbcdn.net/rsrc.php/yD/r/d4ZIVX-5C-b.ico",
                    url: "https://www.facebook.com/wildertrujillom"
                },
                {
                    name: "Linkedin",
                    userId: "wilder-trujillo",
                    icon: "https://static-exp1.licdn.com/sc/h/1bt1uwq5akv756knzdj4l6cdc",
                    url: "https://www.linkedin.com/in/wilder-trujillo"
                },

            ],

            references: [
                { name: "Wilder Trujillo Website", url: "https://www.wildertrujillo.com" },
                { name: "webdev", url: "https://webdev.wildertrujillo.com" },
                { name: "Wilder Trujillo Website", url: "https://www.wildertrujillo.com" },
                { name: "webdev", url: "https://webdev.wildertrujillo.com" },
                { name: "Wilder Trujillo Website", url: "https://www.wildertrujillo.com" },
                { name: "webdev", url: "https://webdev.wildertrujillo.com" },
                { name: "Wilder Trujillo Website", url: "https://www.wildertrujillo.com" },
                { name: "webdev", url: "https://webdev.wildertrujillo.com" },
                { name: "Wilder Trujillo Website", url: "https://www.wildertrujillo.com" },
                { name: "webdev", url: "https://webdev.wildertrujillo.com" },
            ]
        }
    }
}
</script>

<style lang="scss">
@import "@/scss/variables.scss";

.footer{
    background-color: $base-color-purple;
    background-image: $gradient-pincipal;
    font-family: $font-varela-round;
    font-size: 16px;
    min-height: 20vh;
    a{
        font-size: 0.7em;
    }
}

.social-icon{
    width: 30px;
    filter: invert(0.1) sepia(1) hue-rotate(180deg) saturate(100%);
}
</style>