<template>
  <div>
    <!-- Image and text -->
    <b-navbar class="nav" variant="faded" type="light">
      <b-navbar-brand href="#">
        <img src="https://placekitten.com/g/30/30" class="d-inline-block align-top" alt="Kitten">
        <span class="logo"> Wildimg </span>
      </b-navbar-brand>
    </b-navbar>
  </div>
</template>

<script>

export default {
  name: "TheHeader",
};
</script>

<style lang="scss">
@import "@/scss/variables.scss";

.nav{
  /* background-color: $nav-bg; */
  background-color: $base-color-purple;
  background-image: $gradient-pincipal;
}
.logo{
  color: $base-color-white;
  font-family: $font-varela-round;
  font-weight: bold;
}
</style>