<template>
  <div id="app">
    <TheHeader />
    <TheBody />
    <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
    <!-- Mantengo el componente HelloWorld para consulta -->
    <HelloWorld v-if="false" msg="Welcome to Your Vue.js App" />

    <TheFooter />
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import TheHeader from "@/components/TheHeader";
import TheBody from "@/components/TheBody";
import TheFooter from "@/components/TheFooter";

export default {
  name: "App",
  components: {
    HelloWorld,
    TheHeader,
    TheFooter,
    TheBody
  }
};
</script>

<style scoped>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 100vh;
  /* color: #2c3e50; */
  /* margin-top: 60px; */
}
</style>
