// Define variable defaults
/* $body-bg: #000;
$body-color: #111; */

$nav-bg: rgb(41, 41, 43); 

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';