
$base-color-black: #010101;
$base-color-gray: #7a7a7a;
$base-color-white: #fafafa;
$base-color-green-light: #8bddb9;
$base-color-green: #1ba0a5;
$base-color-purple: #37199b;
$base-color-pink: #af71d6;

$gradient-pincipal: linear-gradient(90deg, $base-color-purple 15%, $base-color-green 65%, $base-color-green-light 100%);

$font-exo: 'Exo', sans-serif; 
$font-play: 'Play', sans-serif; /* normal:400  bold:700 */
$font-varela-round: 'Varela Round', sans-serif; /*normal */
$font-lexend-giga: 'Lexend Giga', sans-serif; /*normal*/
$font-audio-wide: 'Audiowide', cursive; /*400 */